
		body{
			background-color: black;
          	background-size: 100%;
          	font-size: 30px;}
        nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 8%;
    padding-right: 8%;
           }
.logo{
    color: blue;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: #00bbff;
    transition: .4s;
}
h3{
	color: Red;
	text-align: center;
	background-color: blue;
}
.box{
        flex-direction: column;
    }
.sec{
    height: 350px;
    width: 335px;
    padding: 20px 40px;
    background-color: #252525;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.sec h5{
    font-size: 23px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #00bbff;
}
.sec p{
    color: white;
    margin-bottom: 25px;
    margin-top: 20px;
    font-size: 16px;
}
#ab{
    background-color: #202020;
    padding: 40px 0px;
}